.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.box{
  max-width: 200px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgb(rgb(223, 182, 182), rgb(138, 207, 138), blue);
  padding: 10px;
}

.add{
  background-color: red;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  color: beige;
  cursor: pointer;
}
.sub{
  background-color: #3db2cf;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  color: beige;
  cursor: pointer;
}